
/* html,body{
    height: 100%;
    margin: 0;
    padding: 0;
} */

html body .container-fluid{
    width:100%;
    height:100%;

}

.titulos{
    position: relative;
    text-align: center;
    top: 25%;
    margin: 0;
    font-size: 2.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.img-w-100{
    width: 100%;
}

.text-white p{
    color: white;
}
/* 
 #verde p {
    color: white;
 } */

 /* .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none; 
    transition: 0.4s;
} */

 .active{
    background-color: rgb(243, 160, 6);
} 

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 5s ease-out;
}